<h1>Editing Workout</h1>


<%= render 'form', gym: @gym %>

<p id ="show", align="center"><%= link_to 'Show', @gym, {:style => 'color:#FFF'}%> |
<%= link_to 'Back', gyms_path, {:style => 'color:#FFF'} %>


