
<body bgcolor="#D6EAF8">
<h1 align="center">New Workout</h1>

<p id ="new_one", align="center"><%= render 'form', gym: @gym %>

<p id ="new_two", align="center"><%= link_to 'Back', gyms_path %>
</body>